.teams h4 {
  text-align: center;
}
.range-slider .input-range {
  display: inline-block;
  -webkit-appearance: none;
  width: 270px;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
}
.range-slider .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider .input-range::-webkit-slider-thumb:hover {
  background: #e06161;
}
.range-slider .input-range:active::-webkit-slider-thumb {
  background: #e06161;
}
.range-slider .input-range:disabled {
  opacity: 0.5;
}
.range-slider .input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider .input-range::-moz-range-thumb:hover {
  background: #e06161;
}
.range-slider .input-range:active::-moz-range-thumb {
  background: #e06161;
}
.range-slider .range-value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #353535;
  padding: 5px 10px;
  margin-left: 7px;
}
.range-slider .range-value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #353535;
  border-bottom: 7px solid transparent;
  content: '';
}
.range-slider .range-value.disabled {
  opacity: 0.5;
}
