<h2 ng-bind="::'teamboard.striker.title' | translate"></h2>
<div class="form-group">
    <label for="level-strikers" class="control-label" ng-bind="::'teamboard.striker.level' | translate"></label>
    <div class="range-slider">
        <input type="range" class="input-range form-control" id="level-strikers" min="1" max="10" ng-value="5" ng-model="teamboardCtrl.model.striker.level">
        <span class="range-value"></span>
    </div>
</div>

<div class="checkbox">
    <label for="">
        <input type="checkbox" value="" ng-model="teamboardCtrl.model.striker.injured">
        {{::'teamboard.striker.injured' | translate}}
    </label>
</div>
<div class="checkbox">
    <label for="">
        <input type="checkbox" value="" ng-model="teamboardCtrl.model.striker.hasBench">
        {{::'teamboard.striker.has.bench' | translate}}
    </label>
</div>
<div class="form-group">
    <label for="level-bench-strikers" class="control-label" ng-bind="::'teamboard.striker.level.bench' | translate"></label>
    <div class="range-slider">
        <input type="range" class="input-range form-control" id="level-bench-strikers" min="1" max="10" value="1" ng-model="teamboardCtrl.model.striker.benchLevel" ng-disabled="!teamboardCtrl.model.striker.hasBench">
        <span class="range-value" ng-class="{'disabled': !teamboardCtrl.model.striker.hasBench}"></span>
    </div>
</div>